* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.book-list {
  display: grid;
  grid-template: repeat(2, 350px) / repeat(3, 1fr);
  justify-content: center;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-family: Georgia, "Times New Roman", Times, serif;

  font-size: 1.3rem;
}

.bookImage {
  width: 180px;
  height: 300px;
}

.authorName {
  margin: 0;
  padding: 0;
}
